.message{
  padding: 10px 0px 0px 0px;
  margin-top: 12px;
  font-size: 18px;
  text-indent: 10px;
  border: 0px;
  resize: none;
  height: auto;
  font-family: NEXON Lv2 Gothic;
}

.message:focus{
  outline: none;
  border-width: 0px;
}

.message:focus::placeholder {
  color: transparent;
}

@font-face {
  font-family: 'GangwonEduPowerExtraBoldA';
  src: url('@/assets/fonts/GangwonEduPower.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NEXON Lv2 Gothic';
  src: url('@/assets/fonts/NEXONLv2GothicMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}